body {
	margin: 0;
	padding: 0;
	background: #ecf0f1;
}

.container {
	width: 70vw;
	height: 100vh;
	margin: 0 auto;
	background: #fff;
}

.header {
	width: 100%;
	background: #2ecc71;
}

.header h1 {
	margin: 0;
	padding: 50px 0 50px 0;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-family: Arial;
	font-size: 50px;
	font-weight: 100;
	opacity: 0.9;
}