body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 18px;
	color: #555;
	background: #ecf0f1;
}

.container {
	width: 70vw;
	min-height: 100vh;
	margin: 0 auto;
	background: #fff;
}

.header {
	width: 100%;
	background: #2980b9;
}

.header h1 {
	color: #fff;
	margin: 0;
	padding: 100px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 250%;
	font-weight: 100;
}

.project-features {
	min-width: 300px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.project-features h2 {
	display: block;
	margin: 0;
	padding: 100px 0 80px 0;
	font-size: 150%;
	text-transform: uppercase;
}

.project-features ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
	font-size: 0; /* For removing html whitespaces on inline-block elements */
}

.project-features ul:last-child {
	margin-top: 20px;
}

.project-features ul li {
	display: inline-block;
	position: relative;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
	background: linear-gradient(135deg, #2980b9, #16a085);
	/*border-radius: 30px;*/
	width: 22%;
	/*transition: transform 0.3s ease-in-out;*/
	font-size: 18px; /* For removing html whitespaces on inline-block elements */
}

.project-features ul li:not(:first-child) {
	margin-left: 4%;
}



/* Pseudo element for creating box shadow effect 
.project-features ul li:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 1;
	border-radius: 30px;
	box-shadow: 0 0 20px 5px #555;
	transition: opacity 0.3s ease-in-out;
}

*/

/*

/* Scale up the box 
.project-features ul li:hover {
	transform: scale(1.02, 1.02);
}

/* Fade in the pseudo element containing bigger shadow 
.project-features ul li:hover::before {
	opacity: 1;
}

*/

/* For making the box a square */
.project-features ul li:after {
	content: "";
	display: block;
	padding-top: 100%;
}

/* Text inside the box */
.project-features ul li span {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
	top: 50%;
	transform: translate(0,-50%);
}